/* Header */
header {
    background-color: var(--secondary-color);
    position: sticky;
        top: 0;
        z-index: 100;
        box-shadow: var(--light-shadow);

    h1 {
        font-size: 30px;
    }
}
/* Card */
.card {
    width: 150px;
    height: 200px;
    padding: 0;
    overflow: hidden;
    border: 1px;

    &.mini-card {
            width: 75px;
            height: 115px;
    
            .card-body {
                background-color: transparent;
            }
        }
    .card-body {
        justify-content: flex-end;
        padding: 10px 20px;
        background-image: linear-gradient(to top, black, transparent);
        color: white;

        .card-title {
            width: 100%;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 2px;
        }
    }

}
/* poster */
.details-poster {
    img {
        width: 300px;
    }
}

.more-details {
    p {
        flex: calc(50% - 10px);
    }
}

.overview {
    letter-spacing: 1px;
    line-height: 1.6;
}